body {
    background: #565C62;
    color: #FFFFF3;
    font-family: 'Merriweather', serif;
}

body a {
    color: #9A9DA0;
}

body a:hover {
    color:#FFF;
}

h1, h2, h3, h4, nav a {
    font-family: 'Lato', sans-serif;
}